    <div id="header">
     <div class="container">
       <div class="row">
         <div class="col-4">
           <h1 id="logo" >App Name</h1>
         </div>
        <div class="col-8">
         <ul id="menu" class="float-md-right">
          <li><a href="Home">Home</a></li>
           <li><a href="About Us">About Us</a></li>
           <li><a href="Galary">Galary</a></li>
           <li><a href="Products">Products</a></li>
          <li><a href="Contact Us">Contact Us</a></li>
         </ul>
        </div>
       </div>
     </div>
    </div>

    <div id="banner" class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8">
            <div class="banner-title">
              <h1 class="title">Some heading goes here</h1>
              <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit eius ab, dolorum molestiae ullam ut! Magni voluptas explicabo quidem consequuntur. Porro, ad nulla? Esse, excepturi perferendis impedit temporibus aut asperiores?</p>
               
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container section" >
      <div class="row" >
        <div class="col-12" style="justify-content:space-between">
          <h2 class="section-head">Some Heading goes heare</h2>
        </div>
      <div class="col-md-3" style="border: 2px black solid; margin: 2px;">
        <div class="servic-box">
          <mat-icon >home</mat-icon>
          <h3>Some Sub Hea</h3>
       <p>Lorem ipsum dolor sit amet consectetur  </p>
        </div>
      </div>

      <div class="col-md-3" style="border: 2px black solid;margin: 2px;">
        <div class="servic-box">
          <mat-icon >dashboard</mat-icon>
          <h3>Some Sub Hea</h3>
       <p>Lorem ipsum dolor sit amet consectetur  </p>
        </div>
      </div>

      <div class="col-md-3" style="border: 2px black solid;margin: 2px;">
        <div class="servic-box">
          <mat-icon >reports</mat-icon>
          <h3>Some Sub Hea</h3>
       <p>Lorem ipsum dolor sit amet consectetur  </p>
        </div>
      </div>

      </div>
    </div>
   